@model EntityLayer.Concrete.Category

@{
    ViewBag.Title = "CategoryEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="form-group" method="post">
    @Html.HiddenFor(x => x.CategoryID, new { @class = "form-control" })
    </br>
    @Html.Label("Kategori Adı")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName)
    </br>
    @Html.Label("Kategori Açıklaması")
    @*@Html.TextBoxFor(x => x.CategoryDescription, new { @class = "form-control" })*@
    @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "textarea", style = "width: 100%; height: 500px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" })

    @Html.ValidationMessageFor(x => x.CategoryDescription)
    </br>
    <button class="btn btn-info">Kaydet</button>
</form>

